{% extends "base.html" %}
{% load companies_extras %}
{% block content %}
<h2 class="bigheadline">
   MINING FACILITY
</h2>
<hr>
{% for mine in mines %}
    <div class="shipoverlay">
        <h1>{{ mine.get_level_display }}</h1>           
        <img src="/media/{{ mine.image }}" class="ship">
        <div class="shipinfo">
            <button onclick="location.href='{% url 'minedetail' mine.pk %}'">More</button>
            <h2>Price: {% readable_int mine.price %}</h2> 
        </div>
    </div>
    <div class="shipmobile shipwrapper">
        <div class="statwrap">
            <div>   
                <h2>mine:</h2>
                <p>{{ mine.mine_size }}</p>
            </div>
            <div>               
                <h2>Price:</h2>
                <p>{% readable_int mine.price %}c</p>
            </div>  
            <div>               
                <h2>Production:</h2>
                <p>{{ mine.production }}c</p>
            </div>       
        </div>
    </div>
    <hr>     
{% endfor %}
{% endblock %}