{% extends "base.html" %}
{% load bootstrap_tags %}
{% load companies_extras %}
{% block content %}
<span id="shipbuypage"></span>
<h2 class="bigheadline">
   CARGO SHIPS
</h2>
<hr>
    <div class="shipoverlay">
        <h1>{{ ship.ship }}</h1>           
        <img src="/media/{{ ship.image }}" class="ship">
    </div>
    <div class="shipwrapper">
        <div class="statwrap">
            <div>   
                <h2>Ship:</h2>
                <p>{{ ship.ship }}</p>
            </div>
            <div>               
                <h2>Price:</h2>
                <p><span id="pricecheck">{{ ship.price }}</span>G</p>
            </div>  
            <div>               
                <h2>Speed:</h2>
                <p>{{ ship.speed }}c</p>
            </div>
            <div>               
                <h2>Storage:</h2>
                <p>{{ ship.cargo_space }} Mt's</p>
            </div>        
        </div>
        <div>               
            <h2>Description:</h2>
            <p>{{ ship.description }}</p>
        </div> 
    </div> 
    <hr>
    <div class="myform color ">        
        <h2 class="medheadline">Your Money:</h2>
        <p class="borderbottom">{% readable_int player.money %}</p>               
        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form | as_bootstrap}}
            <button type="submit" class="btn CCbutton">Purchase for <span id="totalprice">0</span></button>
            <hr>
            {% if messages %}
                <div class="alert alert-success">
                    <div class="messages">
                        {% for message in messages %}
                            {{ message }}
                        {% endfor %}
                    </div>
                </div>
            {% endif %}           
        </form>   
    </div> 
    <hr>      
{% endblock %}