{% extends "base.html" %}
{% block content %}
<h2 class="medheadline">
   CARGO SHIPS
</h2>
{% for ship in ships %}
    <div class="shipoverlay">
        <h1>{{ ship.ship }}</h1>           
        <img src="/media/{{ ship.image }}" class="ship">
        <div class="shipinfo">
            <button onclick="location.href='{% url 'shipdetail' ship.pk %}'">More</button> 
            <h2>Price: {{ ship.price }}</h2> 
        </div>
    </div>
    <div class="shipmobile shipwrapper">
        <div class="statwrap">
            <div>   
                <h2>Ship:</h2>
                <p>{{ ship.ship }}</p>
            </div>
            <div>               
                <h2>Price:</h2>
                <p>{{ ship.price }}c</p>
            </div>  
            <div>               
                <h2>Speed:</h2>
                <p>{{ ship.speed }}c</p>
            </div>
            <div>               
                <h2>Storage:</h2>
                <p>{{ ship.cargo_space }}z</p>
            </div>        
        </div>
    </div>
    <hr>     
{% endfor %}
{% endblock %}