{% extends "base.html" %}
{% block content %}
<h2 class="medheadline">
   THE ELEMENT MARKETPLACE
</h2>
<hr>
<!-- {% for average in planet_averages %}
<p> {{ average.avg_price }} </p>
<p> {{ average.element_name }} </p>
{% endfor %} -->
<div class=" rowwrapper">
{% for element in elements %}
<div class="rowcolwrapper elementwrapper rel color">
        <div class="colwrapper borderbottom" style="background-color: rgba({{element.color}},0.2);">
            <div class="elementinfo borderbottom">   
                <p>Element:</p>
                <p>{{ element.name }}</p>
            </div>
            <div class="elementinfo borderbottom">               
                <p>Weight:</p>
                <p>{{ element.weight }}u</p>
            </div>         
            <div class="elementinfo"> 
                <p>Buy Stock:</p>
                <button class="btn CCbutton" onclick="location.href='{% url 'filterelement' element.pk %}'">Buy</button>
                <button class="btn CCbutton" onclick="location.href='{% url 'planetprices' element.pk %}'">Sell</button>
            </div>
        </div>
        <div class="el borderbottom" style="background-color: rgb({{ element.color }});">
            <div>
                <h1> {{ element.tag.0 }} </h1>
                <h2> {{ element.tag.1 }} </h2>
                <h1> {{element.tag.2}} </h1>
            </div>
            <p> {{ element.name}} </p>
        </div>  
</div>          
{% endfor %}
</div>
{% endblock %}