{% extends "base.html" %}
{% load companies_extras %}
{% load static %}
{% block content %}

<p class="smallheadline">{{ company.name }}: You are logged in with {{ user.email }} and your last login was {{ user.last_login }}</p>

<div class="container color">
    <!-- define tabs here -->
    <ul class="nav nav-tabs">
        <li class="active mytab"><a data-toggle="tab" href="#company">Company</a></li>
        <li class="mytab"><a data-toggle="tab" href="#elements">Elements</a></li>
        <li class="mytab"><a data-toggle="tab" href="#trades">Purchases</a></li>
        <li class="mytab"><a data-toggle="tab" href="#sales">Sales</a></li>
        <li class="mytab"><a data-toggle="tab" href="#ships">Ships</a></li>
        <li class="mytab"><a data-toggle="tab" href="#mines">Mines</a></li>
        <li class="mytab"><a data-toggle="tab" href="#tutorial">Tips</a></li>
    </ul>
    <!-- player tab -->
    <div class="tab-content">
        <div id="company" class="tab-pane fade in active">
            <h2 class="medheadline">COMPANY OVERVIEW</h2>
            <div class="color"> 
                <div class="rowcolwrapper profilewrapper">  
                    <div class="colwrapper">    
                        <h2 >Trader:</h2>   
                        <p>{{ company.name }}</p>
                        <h2>Glorkian Credits: </h2>
                        <p>{% readable_int company.money %}c</p>
                        <h2>Planet Type: </h2>
                        <p>{{ company.get_planets_display }}</p>
                        <h2>Location: </h2>
                        <p>{{ company.locationx }}, {{ company.locationy }}, {{ company.locationz }}</p>
                    </div>
                    <div class="colwrapper">
                        {% if company.image %}
                                <img src="/media/{{ company.image }}" class="profileimg">
                        {% else %}
                                <img src="{% static 'images/mining_facility.jpg' %}" class="profileimg">       
                        {% endif %}         
                        <h2>Description: </h2>
                        <p class="profiledesc">{{ company.description }}</p>
                        <!-- get_*blank*_display finds the verbose version of choice -->
                        <button class="btn CCbutton" onclick="location.href='{% url 'editcompany' %}'">Change Company Profile</button>
                    </div>
                </div>
            </div>
        </div>
        <!-- element tab -->
        <div id="elements" class="tab-pane fade">
            <h2 class="medheadline">ELEMENT STORAGE</h2>
            <p class="smallheadline">Click on each element to view more details!</p>
            <div class=" rowwrapper">
                {% for companyelement in companyelements %}
                    <div class="rowcolwrapper elementwrapper rel color">
                        <div class="el borderbottom" style="background-color: rgb({{ companyelement.element.color }});">
                            <div>
                                <h1> {{ companyelement.element.tag }} </h1>
                            </div>
                            <p> {{ companyelement.amount}} Mt's</p>
                        </div> 
                        <div class="colwrapper borderbottom" style="background-color: rgba({{element.color}},0.2);">
                            <div class="elementinfo borderbottom">     
                                    <p>Element:</p>
                                    <p>{{ companyelement.element.name }}</p>
                                </div>
                                <div class="elementinfo borderbottom">               
                                    <p>Weight:</p>
                                    <p>{{ companyelement.element.weight }}u</p>
                                </div>         
                                <div class="elementinfo borderbottom"> 
                                    <p>Price:</p>
                                    <p>{{ companyelement.price }} Glorks</p>               
                                </div>
                                <div class="elementinfo borderbottom"> 
                                    <p>Amount:</p>
                                    <p>{{ companyelement.amount }} Mt's</p>               
                                </div>
                                <div class="elementinfo">
                                    <p>Set Price:</p> 
                                    <button class="btn CCbutton" onclick="location.href='{% url 'planetprices' companyelement.element.pk %}'">Sell</button>
                                    <button class="btn CCbutton" onclick="location.href='{% url 'elementprice' companyelement.pk %}'">Price</button>
                                </div>
                        </div> 
                    </div>          
                {% endfor %}
            </div>            
        </div>
        <!-- tradelist tab -->
        <div id="trades" class="tab-pane fade">
            <h2 class="medheadline"> RECENT TRADES </h2>
            <div class="colwrapper">       
                {% for trade in trades %}
                    <div class="color">
                        <div class="tradewrapper borderbottom"  style="background-color: rgba({{trade.element.color}},0.2);">
                            <div class="trade">   
                                <h3>Element:</h3>
                                <p>{{ trade.element.name }}</p>
                            </div>
                            <div class="trade">               
                                <h3>Buyer:</h3>
                                <p>{{ trade.buyer.name }}</p>
                            </div>         
                            <div class="trade"> 
                                <h3>Merchant:</h3>
                                <p>{{ trade.seller.name }}</p>               
                            </div>
                            <div class="trade"> 
                                <h3>Amount:</h3>
                                <p>{{ trade.amount }} Mt's</p>               
                            </div>
                            <div class="trade"> 
                                <h3>Price Paid:</h3>
                                <p>{{ trade.price }}c</p>               
                            </div>
                            <div class="trade"> 
                                <h3>Finish Date:</h3>
                                <p>{{ trade.date_to_finish }}</p>               
                            </div>
                            <div class="trade"> 
                                <h3>Status:</h3>
                                <p>{{ trade.status }}</p>               
                            </div>
                        </div> 
                    </div>           
                {% endfor %}
            </div>
        </div>
        <!-- sales tab -->
        <div id="sales" class="tab-pane fade">
            <h2 class="medheadline"> RECENT PLANET SALES </h2>
            <div class="colwrapper">   
                {% for sale in sales %}
                    <div class="color">
                        <div class="tradewrapper borderbottom"  style="background-color: rgba({{sale.element.color}},0.2);">
                            <div class="trade">   
                                <h3>Element:</h3>
                                <p>{{ sale.element.name }}</p>
                            </div>
                            <div class="trade">               
                                <h3>Buyer:</h3>
                                <p>{{ sale.buyer.name }}</p>
                            </div>         
                            <div class="trade"> 
                                <h3>Merchant:</h3>
                                <p>{{ sale.seller.name }}</p>               
                            </div>
                            <div class="trade"> 
                                <h3>Amount:</h3>
                                <p>{{ sale.amount }} Mt's</p>               
                            </div>
                            <div class="trade"> 
                                <h3>Profit Made:</h3>
                                <p>{{ sale.price }}c</p>               
                            </div>
                            <div class="trade"> 
                                <h3>Finish Date:</h3>
                                <p>{{ sale.date_to_finish }}</p>               
                            </div>
                            <div class="trade"> 
                                <h3>Status:</h3>
                                <p>{{ sale.status }}</p>               
                            </div>
                        </div> 
                    </div>           
                {% endfor %}
            </div>
            <h2 class="medheadline"> RECENT PLAYER SALES </h2>
            <div class="colwrapper">   
                {% for sale in player_sales %}
                    <div class="color">
                        <div class="tradewrapper borderbottom"  style="background-color: rgba({{sale.element.color}},0.2);">
                            <div class="trade">   
                                <h3>Element:</h3>
                                <p>{{ sale.element.name }}</p>
                            </div>
                            <div class="trade">               
                                <h3>Buyer:</h3>
                                <p>{{ sale.buyer.name }}</p>
                            </div>         
                            <div class="trade"> 
                                <h3>Merchant:</h3>
                                <p>{{ sale.seller.name }}</p>               
                            </div>
                            <div class="trade"> 
                                <h3>Amount:</h3>
                                <p>{{ sale.amount }} Mt's</p>               
                            </div>
                            <div class="trade"> 
                                <h3>Profit Made:</h3>
                                <p>{{ sale.price }}c</p>               
                            </div>
                            <div class="trade"> 
                                <h3>Finish Date:</h3>
                                <p>{{ sale.date_to_finish }}</p>               
                            </div>
                            <div class="trade"> 
                                <h3>Status:</h3>
                                <p>{{ sale.status }}</p>               
                            </div>
                        </div> 
                    </div>           
                {% endfor %}
            </div>
        </div>
        <!-- ship tab -->
        <div id="ships" class="tab-pane fade">
            {% for owned in ships %}
                <div class="shipoverlay">
                    <h1>{{ owned.ship.ship }}</h1>           
                    <img src="/media/{{ owned.ship.image }}" class="ship">
                </div>
                <div class="shipwrapper">
                    <div class="statwrap">
                        <div>   
                            <h2>Ship:</h2>
                            <p>{{ owned.ship.ship }}</p>
                        </div>
                        <div>               
                            <h2>Fleet Size:</h2>
                            <p>Total:{{ owned.amount }} In-Use:{{ owned.in_use}}</p>
                        </div>  
                        <div>               
                            <h2>Speed:</h2>
                            <p>{{ owned.ship.speed }}c</p>
                        </div>
                        <div>               
                            <h2>Storage:</h2>
                            <p>{{ owned.ship.cargo_space }}z</p>
                        </div>        
                    </div>
                </div>
                <hr>     
            {% endfor %}
        </div>
        <!-- mine tab -->
        <div id="mines" class="tab-pane fade">
            <div class="colwrapper">
                <p class="smallheadline">Last Production check on {{ company.last_checked }}</p> 
                {% for mine_prod in mines_prod %}
                    <p class="smallheadline">{{ mine_prod.1 }} {{ mine_prod.0 }} {{ mine_prod.2 }} mine, produced {{ mine_prod.3 }} units.</p>  
                {% endfor %}  
            </div>
            {% for owned in mines %}
                <div class="shipoverlay">
                    <h1>{{ owned.element.name }} {{ owned.mine.get_level_display }}</h1>           
                    <img src="/media/{{ owned.mine.image }}" class="ship">
                </div>
                <div class="shipwrapper">
                    <div class="statwrap">
                        <div>   
                            <h2> mine size:</h2>
                            <p>{{ owned.mine.mine_size }}</p>
                        </div>
                        <div>               
                            <h2>Production:</h2>
                            <p>{{ owned.mine.production }}c</p>
                        </div> 
                        <div>               
                            <h2>Amount:</h2>
                            <p>{{ owned.amount }}</p>
                        </div>
                        <div>               
                            <h2>Element:</h2>
                            <p>{{ owned.element.name }}</p>
                        </div>
                    </div>
                    <div>               
                        <h2>Description:</h2>
                        <p>Production is measured per-hour but is delivered on a continuous basis. Upgrades to the matter collectors can increase production significantly.</p>
                    </div>
                </div>
                <div class="shipwrapper">               
                    <h2>Upgrade: <a class="btn CCbutton" href="{% url 'upgrades' %}">View Upgrades</a></h2>
                    <p>No Current Upgrades.</p>
                </div>
                <hr>
            {% endfor %}          
        </div>
        <div id="tutorial" class="tab-pane fade">
            <div class="colwrapper">
                <h2>Welcome Trader</h2>
                <p>This is the galactic marketplace, where you can buy and trade raw elements, and start your own mining operations to provide long term profits. The Galaxy needs your materials, go deliver them!</p>
                <h2>How it works</h2>
                <p>You gather elements by mining and trading with other companies. Then find planets with the best price to sell to!</p>
                <p>The more you sell to a planet the less they will pay until they put out new orders for materials, you'll have no idea when this will be however so take advantage of good prices while they are there.</p>
                <h2>Trading</h2>
                <p>If you want to purchase new materials you can go to the marketplace and look at the best offers available. Trades take time, the ship you use will make a difference in how much you can transport, and how fast that is.</p>
                <h2>Anything has a price</h2>
                <p>You can't stop other players buying from your stores, Emporer Zog demands that money and materials always keep moving, make sure you set your own prices to one your happy letting them go for.</p>
                <h2>Purchases and Sales</h2>
                <p>In your purchases and sales tabs you can view information about the trades you have made, most importantly you can see when the trade will be completed, indicated by the date and pending/completed status. Purchases require you wait for the materials be devliered before you pay the company. Sales require you to wait before your materials are delivered, in both cases your ship will be unavailable until it returns!</p>
                <h2>Your Elements</h2>
                <p>You can view your own elements in the element tab on this page, you can see what the average prices are and set yours to be competitive.</p>
                <h2>Ships</h2>
                <p>Your own personal transport fleet, go to the ships page to check what ships are available, fast ships will make sure you take advantage of price changes when they happpen.</p>
                <h2>Mining</h2>
                <p>Go to the mines page to view the different mines, and choose an element that you think will do well, it will provide elements on a continuous basis, and you can see how much by going to the mines tab each time you visit your home page.</p>
                <h2>Lets get started!</h2>
                <p>Go to your elements tab and choose an element you want to sell! Then look at the prices in the marketplace and find something you can profit off of! Happy Trading!</p>
            </div>
        </div>
<!--         <div id="ships" class="tab-pane fade">

        </div> -->
    </div>
</div>
{% endblock %}